{% extends 'tours/base.html' %}
{% block container %}



    <div class="card mt-5">
        <h5 class="card-header py-4">{{ tour.title }}</h5>
        <div class="card-body">

            <h5 class="card-title py-4"><span data-test="country">{{ tour.country }}</span> <span
                    data-text="departure">{{ tour.departure }}</span> за <span
                    data-text="nights">{{ tour.nights }}</span>
                ночей {% for i in stars %}<i class="fas fa-star"></i> {% endfor %} {% for i in starsLeft %}
                    <i class="far fa-star"></i> {% endfor %}</h5>

            <div class="row mb-4">
                <div class="col-7"><img class="card-img-top" src="{{ tour.picture }}" alt="Card image cap"></div>
                <div class="col-5"><p class="card-text" style="font-size:1.3em;">{{ tour.description }}</p></div>
            </div>


            <a href="#" class="btn btn-primary">Купить тур за <span
                    data-test="price">{{ tour.price }}</span></a>
        </div>
    </div>

{% endblock %}